.container {
    position: absolute;
    width: 25%;
    z-index: 12;
    min-width: 300px;
}

.filters {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 10px;
    margin-bottom: 10px;
}

h4 {
   text-align: center;
   text-decoration: underline;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box label {
    line-height: 30px;
}
