.container {
    position: absolute;
    width: 25%;
    z-index: 12;
    min-width: 300px;
}

.filters {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

h4 {
   text-align: center;
   text-decoration: underline;
}

.row {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.row label {
    line-height: 30px;
}

.filters select {
    height: 30px;
    width: 130px;
}

.filters select option {
    font-size: 16px;
    padding: 5px;
}

.slider {
    margin-bottom: 10px;
}